services:
  backend:
    image: ${DOCKER_USERNAME}/brickers-backend:latest
    container_name: brickers-backend
    ports:
      - "${BACKEND_PORT}:8080"
    environment:
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_PORT=${MONGO_PORT}
      - MONGO_DB_NAME=${MONGO_DB_NAME}
      # OAuth
      - KAKAO_CLIENT_ID=${KAKAO_CLIENT_ID}
      - KAKAO_ADMIN_KEY=${KAKAO_ADMIN_KEY}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_REDIRECT_URI=${GOOGLE_REDIRECT_URI}
      - GOOGLE_LOCAL_REDIRECT_URI=${GOOGLE_LOCAL_REDIRECT_URI}

    networks:
      - brickers-network

  frontend:
    image: ${DOCKER_USERNAME}/brickers-frontend:latest
    container_name: brickers-frontend
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend

    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
    networks:
      - brickers-network

networks:
  brickers-network:
    driver: bridge