.kidsPage {
    height: 100vh;
    padding: 96px 24px 24px;
    /* Header 72px + 24px */
    box-sizing: border-box;

    position: relative;
    isolation: isolate;
}

/* 어두운 오버레이 */
.kidsPage::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}