@keyframes modalPop {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal {
    animation: modalPop 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
