@keyframes modalPop {
    from {
        transform: translateY(8px) scale(0.98);
        opacity: 0;
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.modalPop {
    animation: modalPop 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
