.mainpageBody {
  min-height: calc(100vh - 72px); /* 헤더 높이랑 맞춤 */
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
}
.mainScreen {
  height: calc(100vh - 72px); /* 헤더 높이랑 맞춤 */
  width: 100%;
}
