.mainpageBody {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
}

.mainScreen {
  height: 100vh;
  width: 100%;
  padding-top: 0;
  box-sizing: border-box;
  overflow: hidden;
  /* 스크롤 방지 */
}