.kidsLoadingScreen {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.kidsLoadingScreen__bar {
    width: 100%;
    height: 12px;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
    border-radius: 99px;
    overflow: hidden;
}

.kidsLoadingScreen__progress {
    height: 100%;
    background: #FFD600;
    /* LEGO Yellow */
    border-right: 2px solid #000;
    transition: width 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.kidsLoadingScreen__text {
    font-family: 'KblJumpCondensed', sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: 700;
}